# Importar librerias

In [29]:
import pandas as pd

# a. Extraer la información del archivo.

In [30]:
df = pd.read_csv('country_vaccinations.csv', parse_dates = ['date'])

# b. Mostrar la estructura y tipos de datos de cada columna para identificar qué operaciones puedes realizar con cada una de ellas, asegurándote que las columnas con fechas sean del tipo datetime64.

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86512 entries, 0 to 86511
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              86512 non-null  object
 1   iso_code                             86512 non-null  object
 2   date                                 86512 non-null  datetime64[ns]
 3   total_vaccinations                   43607 non-null  float64
 4   people_vaccinated                    41294 non-null  float64
 5   people_fully_vaccinated              38802 non-null  float64
 6   daily_vaccinations_raw               35362 non-null  float64
 7   daily_vaccinations                   86213 non-null  float64
 8   total_vaccinations_per_hundred       43607 non-null  float64
 9   people_vaccinated_per_hundred        41294 non-null  float64
 10  people_fully_vaccinated_per_hundred  38802 non-null  float64
 11  daily_vaccinations_per_million       86213 non-null  float64
 12  vaccines                             86512 non-null  object
 13  source_name                          86512 non-null  object
 14  source_website                       86512 non-null  object
dtypes: datetime64[ns](1), float64(9), object(5)
memory usage: 9.9+ MB

#c. Determinar la cantidad de vacunas aplicadas de cada compañía (con base en cómo lo reporta cada país en la columna vaccines).

In [32]:
df['vaccines'].value_counts()

Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech                     7608
Moderna, Oxford/AstraZeneca, Pfizer/BioNTech                                      6263
Oxford/AstraZeneca                                                                6022
Oxford/AstraZeneca, Pfizer/BioNTech                                               4629
Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech            3564
                                                                                  ...
Johnson&Johnson, Oxford/AstraZeneca, Sinovac                                       312
Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, Sputnik V                   311
Johnson&Johnson, Moderna                                                           251
Johnson&Johnson, Pfizer/BioNTech, Sinopharm/Beijing                                228
EpiVacCorona, Oxford/AstraZeneca, QazVac, Sinopharm/Beijing, Sputnik V, ZF2001     190
Name: vaccines, Length: 84, dtype: int64

# d. Obtener la cantidad de vacunas aplicadas en todo el mundo.

In [33]:
print('Se han aplicado '+str(df['people_vaccinated'].sum())+' vacunas en el mundo.')

Se han aplicado 731113482252.0 vacunas en el mundo.

# e. Calcular el promedio de vacunas aplicadas por país.

In [34]:
df[['country','people_vaccinated']].groupby('country').mean()

                   people_vaccinated
country
Afghanistan             2.283978e+06
Albania                 7.691666e+05
Algeria                 5.667521e+06
Andorra                 3.393784e+04
Angola                  4.030443e+06
...                              ...
Wales                   2.024054e+06
Wallis and Futuna       4.919744e+03
Yemen                   3.887164e+05
Zambia                  3.126864e+05
Zimbabwe                2.405831e+06

[223 rows x 1 columns]

#f. Determinar la cantidad de vacunas aplicadas el día 29/01/21 en todo el mundo.

In [35]:
print('En la fecha 2021-01-29 se aplicaron '+str(df.loc[df['date']=='2021-01-29','people_vaccinated'].sum())+' vacunas en todo el mundo')

En la fecha 2021-01-29 se aplicaron 65432091.0 vacunas en todo el mundo

#g. Crear un dataframe nuevo denominado conDiferencias que contenga los datos originales y una columna derivada (diferencias) con las diferencias de aplicación entre las columnas daily_vaccionations y daily_vaccionations_raw.

In [36]:
conDiferencias = df[:][:]
conDiferencias['diferencias'] = conDiferencias['daily_vaccinations'] - conDiferencias['daily_vaccinations_raw']

#h. Obtener el período de tiempo entre el registro con fecha más reciente y el registro con fecha más antigua.

In [37]:
print('El periodo de tiempo entre el registro más reciente y el de fecha más antigua es: '+ str(df['date'].max()-df['date'].min()) + '.')

El periodo de tiempo entre el registro más reciente y el de fecha más antigua es: 482 days 00:00:00.

#i. Crear un dataframe nuevo denominado conCantidad que contenga los datos originales y una columna derivada (canVac) con la cantidad de vacunas utilizadas cada día (usar la columna vaccines y separar por el carácter /).

In [38]:
conCantidad = df[:][:]
conCantidad['canVac'] = conCantidad['vaccines'].str.split('/').str.len()

#j. Generar un dataframe denominado antes20 con todos los registros que se hayan realizado antes del 20 de diciembre de 2020.

In [39]:
antes20=df[df['date']<'2020-12-20']

#k. Obtener un dataframe denominado pfizer con todos los registros donde se haya utilizado la vacuna Pfizer.

In [40]:
pfizer=df[df['vaccines'].str.contains('Pfizer',case = False)]

#l. Almacenar los dataframes generados (conDiferencias, conCantidad, antes20 y pfizer) en un archivo de Excel denominado resultadosReto.xlsx, donde cada dataframe ocupe una hoja diferente. Se recomienda ver la documentación de pd.ExcelWriter.

In [41]:
with pd.ExcelWriter("resultadosReto.xlsx") as writer:
    conDiferencias.to_excel(writer, sheet_name="conDiferencias")  
    conCantidad.to_excel(writer, sheet_name="conCantidad")  
    antes20.to_excel(writer, sheet_name="antes20")  
    pfizer.to_excel(writer, sheet_name="pfizer")